<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "ruru.jpg", width: 300, alt: "Ruru's image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I like to walk & run at seaside. I don't like too hot summer. The Shetland Sheepdog, often known as the Sheltie, is a breed of herding dog that originated in the Shetland Islands of Scotland. The original name was Shetland Collie, but this caused controversy among the Rough Collie breeders of the time, so the breed's name was formally changed. </p>

        <p>This hard-working small dog is intelligent, vocal, excitable and willing to please. They are incredibly loyal to their owners to the point where they are often referred to as "shadows" due to their attachment to family. This breed was formally recognized by The Kennel Club (UK) in 1909.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
              Job 1
            </div>
            <div class="card card-body">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-body">
              School 1
            </div>
            <div class="card card-body">
              School 2
            </div>
            <div class="card card-body">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

